.toolbar {
    background-color: var(--bs-primary);
    color: var(--bs-secondary-bg-subtle);
    padding: 1rem;
}

.content {
    padding: 1rem;
    background-color: var(--bs-success-bg-subtle);
    height: 100vh;
}

.body {
    height: 100vh;
}