<div class="row justify-content-start">
    <div class="col-1">
        <p>{{itemNumber}}</p>
    </div>
    <div class="col-2">
        <form [formGroup]="formGroup">
            <label><input type="radio" formControlName="splitByRadio" value={{1}}>Person 1</label>
            <label><input type="radio" formControlName="splitByRadio" value="2">Person 2</label>
        </form>
        <input type="text" class="form-control" placeholder="12.34">
    </div>
    <div class="col-2">
        <form [formGroup]="radioGroup">

            <label><input type="radio" formControlName="person1RadioButton">Person 1</label>
            <label><input type="radio" formControlName="person2RadioButton">Person 2</label>
        </form>
    </div>
    <div class="col-2">
        <form [formGroup]="radioGroupsplitBy">

            <label><input type="radio" formControlName="splitByRadioButton" value="1">P 1</label>
            <label><input type="radio" formControlName="splitByRadioButton" value="2">P 2</label>
        </form>
    </div>
    <div class="col-2">
        <!-- <input type="radio" [formControl]="person1RadioButton"> -->
        <!-- <input type="radio" [formControl]="person2RadioButton"> -->
    </div>

    <div class="col-3">

        formGroup value: {{ formGroup.controls['splitByRadio'].value }}
        splitByRadioButton value: {{ radioGroupsplitBy.controls['splitByRadioButton'].value | json}}
    </div>
</div>