<div class="container">
    <div>Tooltip</div>

    <div>Calculations breakdown</div>

    <div class="container">
        Receipt Totals
        <receipt-total title="Subtotal"></receipt-total>
        <receipt-total title="Tax"></receipt-total>
        <receipt-total title="Tip"></receipt-total>
        <receipt-total title="Total"></receipt-total>
    </div>


    <div class="container">
        Line Items
        <div class="container" *ngFor="let item of lineItems; let i = index">
            <line-item itemNumber={{i}}></line-item>
        </div>

        <div class="container">Add Line Item Button</div>
    </div>